<!DOCTYPE html>
<html lang="pt-BR">
<body>
  <div class="container">
    </br>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="nomeFantasia" class="col-sm-2 control-label">Nome fantasia</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="nomeFantasia" ng-model="vm.empresa.nomeFantasia" placeholder="Digite o nome fantasia">
        </div>
      </div>
      <div class="form-group">
        <label for="razaoSocial" class="col-sm-2 control-label">Razão social</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="razaoSocial" ng-model="vm.empresa.razaoSocial" placeholder="Razão social">
        </div>
      </div>
      <div class="form-group">
        <label for="cnpj" class="col-sm-2 control-label">CNPJ</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="cnpj" ng-model="vm.empresa.cnpj" placeholder="CNPJ">
        </div>
      </div>
      <div class="form-group">
        <label for="endereco" class="col-sm-2 control-label">Endereço</label>
        <div class="col-sm-8" ng-controller="EnderecoController as vmEndereco">
          <select name="endereco" ng-model="vm.empresa.endereco" class="form-control" id="endereco">
            <option ng-repeat="item in vmEndereco.enderecos" value="{{item._id}}">{{item.logradouro}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-right">
          <a href="#/empresas" class="btn btn-danger">Cancelar</a>
          <button ng-click="vm.salvar()" type="button" class="btn btn-success">Salvar</button>
        </div>
      </div>
    </form>
  </div>
  <!-- /.container -->
</body>
</html>